.banner {
  display: block;
  width: 100%;
}

nav {
  width: 16%;
  height: 100vh;
  top: 0;
  left: 0;
  float: left;
  display: inline;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  background-color: #d7d2cb;
  position: fixed;
}

nav button {
  padding: 10px;
  margin-top: 30px;
  margin-left: 25%;
  width: 60%;
  display: flex;
  justify-content: center;
  background-color: #003e52;
  color: #d7d2cb;
  border: solid #c3a0d9;
  font-family: rama-gothic-m, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 2px;
}

.home {
  margin-left: 18%;
}

.about img {
  width: 18.25%;
  padding-left: 20px;
}

.about {
  justify-content: space-between;
}

.paragraph {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.paragraph p {
  width: 50%;
  display: flex;
  justify-content: center;
  font-family: rama-gothic-m, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 1.5px;
  line-height: 1.3;
  color: #003e52;
  margin-top: 5%;
  margin-right: 5%;
}

.paragraph h2 {
  width: 50%;
  display: flex;
  justify-content: center;
  font-family: gurkner-jump, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 150px;
  padding-bottom: 30px;
  color: #003e52;
  margin-top: 5%;
}
/*
___________________________________--_________________________________________ */
main {
  margin-left: 16%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: space-between;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 19%;
  max-width: 19%;
  padding: 0 4px;
  justify-content: space-between;
  height: 100vh;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
