.banner {
  display: block;
  width: 100%;
}

nav {
  width: 16%;
  height: 100vh;
  top: 0;
  left: 0;
  float: left;
  display: inline;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  background-color: #d7d2cb;
  position: fixed;
}

nav button {
  padding: 10px;
  margin-top: 30px;
  margin-left: 25%;
  width: 60%;
  display: flex;
  justify-content: center;
  background-color: #003e52;
  color: #d7d2cb;
  border: solid #c3a0d9;
  font-family: rama-gothic-m, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 2px;
}

.home {
  margin-left: 18%;
}

.about img {
  width: 18.25%;
  padding-left: 20px;
}

.about {
  justify-content: space-between;
}

.paragraph {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.paragraph p {
  width: 50%;
  display: flex;
  justify-content: center;
  font-family: rama-gothic-m, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 1.5px;
  line-height: 1.3;
  color: #003e52;
  margin-top: 5%;
  margin-right: 5%;
}

.paragraph h2 {
  width: 50%;
  display: flex;
  justify-content: center;
  font-family: gurkner-jump, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 150px;
  padding-bottom: 30px;
  color: #003e52;
  margin-top: 5%;
}
/*
___________________________________--_________________________________________ */
main {
  margin-left: 16%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: space-between;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 19%;
  max-width: 19%;
  padding: 0 4px;
  justify-content: space-between;
  height: 100vh;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
/* ____________________photography links_______________________________________________________- */
.photo-1 img {
  height: 100%;
}

.photo-1 {
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 500px;
}

.Photo-container {
  display: flex;
  justify-content: space-between;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 10%;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: .5s;
}

.layer:hover {
  background: rgb(215, 210, 203, .7);
}

.layer h3 {
  font-family: rama-gothic-m, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  letter-spacing: 1px;
  color: #003e52;
  top: 0;
  left: 5%;
  transform: translateY(-50%);
  position: absolute;
  opacity: 0;
  transition: .5s;
}

.layer:hover h3 {
  top: 80%;
  opacity: 1;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    flex: 40%;
    max-width: 80%;
    justify-content: space-between;
    height: 100%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    max-width: 80%;
    flex: 50%;
    position: relative;
    display: inline;
    justify-content: space-between;
    height: 100%;
  }
}

@media (max-width: 900px) {
  nav {
    display: inline;
    float: none;
    width: 100%;
    height: 90%;
    position: relative;
  }

  nav button {
    margin-top: 5px;
    width: 50%;
    margin-left: 25%;
    font-size: 16px;
  }

  .banner {
    width: 50%;
    margin-left: 25%;
  }

  iframe {
    display: none;
  }

  .about img {
    width: 40%;
    padding-top: 10px;
  }

  .about {
    margin-left: 10%;
    margin-right: 10%;
  }

  .paragraph h2 {
    font-size: 100px;
  }

  .paragraph p {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .photo-container {
    width: 80%;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
  }

  .photo-1 {
    border-radius: 10px;
    margin-bottom: 30px;
    width: 100px;
    height: 200px;
  }

  .layer h3 {
    font-size: 29px;
  }

  main {
    margin: 0;
  }
}

.contact {
  margin-left: 20%;
  margin-top: 13.5%;
}

.contact h2 {
  font-family: rama-gothic-m, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 100px;
  color: #003e52;
  letter-spacing: 3px;
}

.contact h3 {
  font-family: rama-gothic-m, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  color: #003e52;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
